/*Importar fuente personalizada*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
/*normalizar documento*/
*{
   margin:0; padding: 0; box-sizing:border-box;
}
body{
    font-family: 'lato','arial', sans-serif;

}
:root{
    /* Variables de css para los colores principales  */
    --c-primario:#F7E967;
    --c-secundario: #A9CF54;
    --c-terciario:#04BFBF;
    --c-claro:#CAFCD8;
    --c-oscuro:#588F27;
    /* Dimension del iframe  */
    --iframe-width:650px;
    --iframe-height:450px;

}
/*---------------layout de la aplicacion */
.contenedor{
    background: var(--c-oscuro);
    width: 100vw;
    height: 100vh;
    /*grid cuadricula*/
    display: grid;
    
    /* Definir cuantas columnas y filas en el grid*/
    grid-template-columns: 100% ;
    grid-template-rows: auto 1fr 50px;
    overflow-x: hidden;  /*no permite hacer scroll*/
}

.header{
    background-attachment: var(--c-secundario);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    
}
.menu{
    background: var(--c-terciario);
    

}
.main{
    background: var(--c-claro);
    grid-column: 1 / 2;
    grid-row: 2/3;
}
.footer{
    color:white;
    font-weight: bold;
    /*centrar contenido del footer*/
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--c-secundario);
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
/*---------------Estilos para el contenido principal -------------*/
.main{
    padding: 1em;
}
.main .instruccion{
    background: var(--c-primario);
    width: 90%;
    padding: 5px;
    border-radius: 10px;
    margin: 0 auto;
}
.main .instruccion p{
    margin: 0;padding: 0;
    text-align: center;
    font-weight: lato;
}
.main .contenedor-iframe{
    width: 90%;
    margin: 0 auto; 
    margin-top: 0.5em;
    overflow-x: auto;
    background: var(--c-secundario);
}
.main .contenedor-iframe iframe{
   width: var(--iframe-width);
   height: var(--iframe-height);
    

}
/*Estilos para el menu lateral*/
.menu{
    background: var(--c-primario);
    

}
.menu{
    position: fixed;
    top: 0;
    width: 250px;
    height: 100vh;
    border-right: 1px solid var(--c-oscuro);
    left: -300px;
    transition: left 0.3s ease-in-out;
}
.menu.mostrar{
    left: 0;
}
.menu .menu-links li{
    border-bottom: 1px solid var(--c-oscuro);
}
.menu .menu-links li:hover{
    background: var(--c-terciario);

}
.menu .menu-links li a{
    display: block;
    padding: 5px 10px;
    color: white;
    text-align: center;
    font-weight: bold;

}
.menu .menu-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: -30px;
    background: red;
    color: white;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}
.menu .menu-close:hover{
    background: rgb(211, 0, 0);
}
/*Estilos para la barra de navegacion*/
.nav{
    color:var(--c-claro);
    position: relative;
}
.nav .nav-links {
    display: none;
}
.nav .nav-links.mostrar {
    display: block;
}
.nav .nav-links li{
    text-align: center;
    margin: 0 auto;
   transition: background 0.5s;/*esperar un segundo para hacer algo*/
}
.nav .nav-links li:hover{
    background:var(--c-claro);
}
.nav .nav-links li a{
    display: block;
    padding: 5px;
    font-weight: bold;

}
.nav .menu-open{
    display: inline-block;
    margin: 5px auto 5px 15px;
    
}
.icono-grande{
    font-size: 25px;
    cursor: pointer;
}
.nav .nav-toggle{
position: absolute;
right: 15px;
top: 5px;

}

/* ==========> Responsive Design: Estilos para dispositivos de Escritorio <========== */
@media screen and (min-width: 900px) {
    /* Removemos los botones para móviles de la barra de navegación */
    .nav .menu-open, .nav .nav-toggle {
        display: none;
    }

    /* Adecuamos la barra de navegación y su contenido */
    .nav .nav-links {
        height: 50px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav .nav-links li {
        height: 80%;
        margin: 0;
        margin-left: 20px;
        border: 1px solid var(--c-terciario);
        border-radius: 10px;
    }
    .nav .nav-links li a {
        height: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Modificamos el layout de la aplicación con CSS Grid */
    .contenedor {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: auto 1fr 50px;
    }

    .header {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .menu {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .main {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .footer {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    /* Reiniciamos ciertas propiedades del menú lateral para que cumpla con el layout */
    .menu {
        position: static;
        width: auto;
        height: auto;
        transition: none;
        border-top: 1px solid var(--c-terciario);
        border-bottom: 1px solid var(--c-terciario);
    }
    /* Ocultamos el botón para cerrar el menú lateral */
    .menu .menu-close {
        display: none;
    }

    /* Restringimos el tamaño del contenido principal */
    .main .instruccion, .main .contenedor-iframe {
        width: var(--iframe-width);
    }
}

/*---------------Utilidad normalizar listas y links -------------*/
.lista-links{
    list-style: none;
    margin: 0;
    padding: 0;
}
.lista-links li a{
    text-decoration: none;
}